<h1>Editing preferred day</h1>

<%= render "form", preferred_day: @preferred_day %>

<br>

<div>
  <%= link_to "Show this preferred day", @preferred_day %> |
  <%= link_to "Back to preferred days", preferred_days_path %>
</div>
