<h1>Editing type profile</h1>

<%= render "form", type_profile: @type_profile %>

<br>

<div>
  <%= link_to "Show this type profile", @type_profile %> |
  <%= link_to "Back to type profiles", type_profiles_path %>
</div>
