<h1>Editing preferred class</h1>

<%= render "form", preferred_class: @preferred_class %>

<br>

<div>
  <%= link_to "Show this preferred class", @preferred_class %> |
  <%= link_to "Back to preferred classes", preferred_classes_path %>
</div>
